* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100vw;
  height: max-content;
  overflow-x: hidden;
  background-color: #f7f7f7;
}

.wrapper {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
}

a {
  text-decoration: none;
  color: #282828;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 13px 35px;
  border-radius: 3px;
  font-weight: 500;
}

.btn--primary {
  border: none;
  background-color: #ff5300;
  color: white;
}

.btn--secondary {
  border: 2px solid #ff5300;
  color: #ff5300;
  background-color: white;
}

.text-gray-small {
  font-size: 0.9rem;
  color: #d0d0d0;
}

/* Nav Bar */

.nav {
  padding-top: 42px;
  padding-bottom: 178px;
  background-color: #eaecef;
}

.nav__container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav__menu {
  display: flex;
  font-size: 1rem;
  gap: 35px;
  align-items: center;
}

/* Main Part */
.blog-box {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  background-color: white;
  padding: 3.5rem 4.5rem;
  transform: translateY(-4rem);
  border-radius: 15px;
  z-index: 99;
}

.blog-box__heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.blog-box__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.blog-box__item {
  display: flex;
  gap: 0.7rem;
  padding: 0.1rem 1.3rem;
}

.blog-box__text {
  padding-top: 1.1rem;
  max-width: 530px;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

  
.blog-box__text button {
  width: max-content;
  margin-left: auto;
  padding: 0.9rem 2.7rem;
  transform: translateY(-0.2rem) translateX(-0.1rem);
}

.blog-box__text p {
  font-size: 0.93rem;
  line-height: 1.4rem;
}

.blog-box__separator {
  width: 2px;
  background-color: #d0d0d0;
  height: 7.5rem;
  margin: auto 0;
  margin-left: 0.3rem;
}

.blog-box__comment {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: auto 0;
  
  font-size: 0.87rem;
  margin-left: 0.4rem;
}

.blog-box__btn-container {
  margin-top: 2.5rem;
  padding-top: 15px;
  display: flex;
  place-items: center;
}

.blog-box__btn {
  margin: 0 auto;
  padding: 0.7rem 1.1rem;
  font-weight: 500;
  font-size: 0.9rem;
}

/* Blog Post Part */
.blog-post-box {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 2rem 0;
}

.blog-post-box__heading {
  text-align: center;
  padding-bottom: 2rem;
}

.blog-post-box__container {
  display: flex;
  gap: 100px;
}

.blog-post-box__item {
  background-color: white;
  padding: 2.5rem 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.blog-post-box__author {
  border-left: 4px solid #ff5300;
  padding: 0 2.5rem;
}

.blog-post-box__content {
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blog-post-box__content p {
  text-align: justify;
  max-lines: 3;
  text-overflow: ellipsis;
}

.blog-post-box__content button {
  width: max-content;
}

/* Footer */
footer {
  padding: 25px;
  max-width: 1170px;
  margin: 0 auto;
}

.footer__main {
  display: flex;
  justify-content: space-between;
}

.footer__main__first {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 35%;
}

.footer__socials-container {
  display: flex;
  gap: 20px;
}

.footer__social {
  border: 2px solid #ff5300;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__partners {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer__main ul li a {
  font-size: 0.9rem;
  color: #d0d0d0;
}

.footer__separator {
  width: 100%;
  height: 2px;
  margin: 50px 0;
  background-color: #d0d0d0;
}

.footer__ending {
  text-align: center;
}
